@font-face {
    font-family: 'Tactic';
    src: url('Tactic-Regular.woff2') format('woff2'),
        url('Tactic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tactic';
    src: url('Tactic-Italic.woff2') format('woff2'),
        url('Tactic-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

